<div>
    <h2 id="page-heading">
        <span>Correction Factors</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-correction-factor" [routerLink]="['/correction-factor/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Correction Factor
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="correctionFactors">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Template Name</span></th>
            <th><span>Degrees 30</span></th>
            <th><span>Degrees 20</span></th>
            <th><span>Degrees 10</span></th>
            <th><span>Degrees 0</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let correctionFactor of correctionFactors ;trackBy: trackId">
                <td><a [routerLink]="['/correction-factor', correctionFactor.id, 'view' ]">{{correctionFactor.id}}</a></td>
                <td>{{correctionFactor.templateName}}</td>
                <td>{{correctionFactor.degrees30}}</td>
                <td>{{correctionFactor.degrees20}}</td>
                <td>{{correctionFactor.degrees10}}</td>
                <td>{{correctionFactor.degrees0}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/correction-factor', correctionFactor.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/correction-factor', correctionFactor.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'correction-factor/'+ correctionFactor.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
