<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-board-member-heading">Create or edit a Board Member</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!boardMember.id">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="boardMember.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                        [(ngModel)]="boardMember.name" required/>
                    <div [hidden]="!(editForm.controls.name?.dirty && editForm.controls.name?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.name?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_lastName">Last Name</label>
                    <input type="text" class="form-control" name="lastName" id="field_lastName"
                        [(ngModel)]="boardMember.lastName" required/>
                    <div [hidden]="!(editForm.controls.lastName?.dirty && editForm.controls.lastName?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.lastName?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_phone">Phone</label>
                    <input type="text" class="form-control" name="phone" id="field_phone"
                        [(ngModel)]="boardMember.phone" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_email">Email</label>
                    <input type="text" class="form-control" name="email" id="field_email"
                        [(ngModel)]="boardMember.email" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_picture">Picture</label>
                    <input type="text" class="form-control" name="picture" id="field_picture"
                        [(ngModel)]="boardMember.picture" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_boardTitle">Board Title</label>
                    <select class="form-control" id="field_boardTitle" name="boardTitle" [(ngModel)]="boardMember.boardTitle" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="titleInBoardOption.id === boardMember.boardTitle?.id ? boardMember.boardTitle : titleInBoardOption" *ngFor="let titleInBoardOption of titleinboards; trackBy: trackTitleInBoardById">{{titleInBoardOption.title}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_qualification">Qualification</label>
                    <select class="form-control" id="field_qualification" name="qualification" [(ngModel)]="boardMember.qualification" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="qualificationOption.id === boardMember.qualification?.id ? boardMember.qualification : qualificationOption" *ngFor="let qualificationOption of qualifications; trackBy: trackQualificationById">{{qualificationOption.proffQualification}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
