<div>
    <h2 id="page-heading">
        <span>Voltage Levels</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-voltage-level" [routerLink]="['/voltage-level/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Voltage Level
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="voltageLevels">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Voltage Level</span></th>
            <th><span>Correction Factor</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let voltageLevel of voltageLevels ;trackBy: trackId">
                <td><a [routerLink]="['/voltage-level', voltageLevel.id, 'view' ]">{{voltageLevel.id}}</a></td>
                <td>{{voltageLevel.voltageLevel}}</td>
                <td>
                    <div *ngIf="voltageLevel.correctionFactor">
                        <a [routerLink]="['../correction-factor', voltageLevel.correctionFactor?.id, 'view' ]" >{{voltageLevel.correctionFactor?.templateName}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/voltage-level', voltageLevel.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/voltage-level', voltageLevel.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'voltage-level/'+ voltageLevel.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
