<div>
    <h2 id="page-heading">
        <span>Substations</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-substation" [routerLink]="['/substation/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Substation
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="substations">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Name</span></th>
            <th><span>Operation Year</span></th>
            <th><span>Facility</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let substation of substations ;trackBy: trackId">
                <td><a [routerLink]="['/substation', substation.id, 'view' ]">{{substation.id}}</a></td>
                <td>{{substation.name}}</td>
                <td>{{substation.operationYear}}</td>
                <td>
                    <div *ngIf="substation.facility">
                        <a [routerLink]="['../facility', substation.facility?.id, 'view' ]" >{{substation.facility?.name}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/substation', substation.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/substation', substation.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'substation/'+ substation.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
