<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="circuitBreakerType">
            <h2><span>Circuit Breaker Type</span> {{circuitBreakerType.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Cb Type</span></dt>
                <dd>
                    <span>{{circuitBreakerType.cbType}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/circuit-breaker-type', circuitBreakerType.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
