<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="disconnectorDrive">
            <h2><span>Disconnector Drive</span> {{disconnectorDrive.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Disc Drive</span></dt>
                <dd>
                    <span>{{disconnectorDrive.discDrive}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/disconnector-drive', disconnectorDrive.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
