<div>
    <h2 id="page-heading">
        <span>Pylon Types</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-pylon-type" [routerLink]="['/pylon-type/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Pylon Type
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="pylonTypes">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Pylon Type</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let pylonType of pylonTypes ;trackBy: trackId">
                <td><a [routerLink]="['/pylon-type', pylonType.id, 'view' ]">{{pylonType.id}}</a></td>
                <td>{{pylonType.pylonType}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/pylon-type', pylonType.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/pylon-type', pylonType.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'pylon-type/'+ pylonType.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
