<div>
    <h2 id="page-heading">
        <span>Circuit Breakers</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-circuit-breaker" [routerLink]="['/circuit-breaker/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Circuit Breaker
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="circuitBreakers">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Production Year</span></th>
            <th><span>Current</span></th>
            <th><span>Short Circuit Current</span></th>
            <th><span>Serial</span></th>
            <th><span>Picture</span></th>
            <th><span>Drive</span></th>
            <th><span>Type</span></th>
            <th><span>Manufactured</span></th>
            <th><span>Substation</span></th>
            <th><span>Field</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let circuitBreaker of circuitBreakers ;trackBy: trackId">
                <td><a [routerLink]="['/circuit-breaker', circuitBreaker.id, 'view' ]">{{circuitBreaker.id}}</a></td>
                <td>{{circuitBreaker.productionYear}}</td>
                <td>{{circuitBreaker.current}}</td>
                <td>{{circuitBreaker.shortCircuitCurrent}}</td>
                <td>{{circuitBreaker.serial}}</td>
                <td>{{circuitBreaker.picture}}</td>
                <td>
                    <div *ngIf="circuitBreaker.drive">
                        <a [routerLink]="['../circuit-breaker-drive', circuitBreaker.drive?.id, 'view' ]" >{{circuitBreaker.drive?.cbDrive}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="circuitBreaker.type">
                        <a [routerLink]="['../circuit-breaker-type', circuitBreaker.type?.id, 'view' ]" >{{circuitBreaker.type?.cbType}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="circuitBreaker.manufactured">
                        <a [routerLink]="['../manufacturer', circuitBreaker.manufactured?.id, 'view' ]" >{{circuitBreaker.manufactured?.manufactName}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="circuitBreaker.substation">
                        <a [routerLink]="['../substation', circuitBreaker.substation?.id, 'view' ]" >{{circuitBreaker.substation?.name}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="circuitBreaker.field">
                        <a [routerLink]="['../field', circuitBreaker.field?.id, 'view' ]" >{{circuitBreaker.field?.name}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/circuit-breaker', circuitBreaker.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/circuit-breaker', circuitBreaker.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'circuit-breaker/'+ circuitBreaker.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
