<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="circuitBreaker">
            <h2><span>Circuit Breaker</span> {{circuitBreaker.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Production Year</span></dt>
                <dd>
                    <span>{{circuitBreaker.productionYear}}</span>
                </dd>
                <dt><span>Current</span></dt>
                <dd>
                    <span>{{circuitBreaker.current}}</span>
                </dd>
                <dt><span>Short Circuit Current</span></dt>
                <dd>
                    <span>{{circuitBreaker.shortCircuitCurrent}}</span>
                </dd>
                <dt><span>Serial</span></dt>
                <dd>
                    <span>{{circuitBreaker.serial}}</span>
                </dd>
                <dt><span>Picture</span></dt>
                <dd>
                    <span>{{circuitBreaker.picture}}</span>
                </dd>
                <dt><span>Drive</span></dt>
                <dd>
                    <div *ngIf="circuitBreaker.drive">
                        <a [routerLink]="['/circuit-breaker-drive', circuitBreaker.drive?.id, 'view']">{{circuitBreaker.drive?.cbDrive}}</a>
                    </div>
                </dd>
                <dt><span>Type</span></dt>
                <dd>
                    <div *ngIf="circuitBreaker.type">
                        <a [routerLink]="['/circuit-breaker-type', circuitBreaker.type?.id, 'view']">{{circuitBreaker.type?.cbType}}</a>
                    </div>
                </dd>
                <dt><span>Manufactured</span></dt>
                <dd>
                    <div *ngIf="circuitBreaker.manufactured">
                        <a [routerLink]="['/manufacturer', circuitBreaker.manufactured?.id, 'view']">{{circuitBreaker.manufactured?.manufactName}}</a>
                    </div>
                </dd>
                <dt><span>Substation</span></dt>
                <dd>
                    <div *ngIf="circuitBreaker.substation">
                        <a [routerLink]="['/substation', circuitBreaker.substation?.id, 'view']">{{circuitBreaker.substation?.name}}</a>
                    </div>
                </dd>
                <dt><span>Field</span></dt>
                <dd>
                    <div *ngIf="circuitBreaker.field">
                        <a [routerLink]="['/field', circuitBreaker.field?.id, 'view']">{{circuitBreaker.field?.name}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/circuit-breaker', circuitBreaker.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
