<div>
    <h2 id="page-heading">
        <span>Facilities</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-facility" [routerLink]="['/facility/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Facility
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="facilities">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>In Operation Since</span></th>
            <th><span>Power</span></th>
            <th><span>Num Of Transformers</span></th>
            <th><span>Busbars</span></th>
            <th><span>Num Of Fields</span></th>
            <th><span>Voltage Level</span></th>
            <th><span>Maintaining</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let facility of facilities ;trackBy: trackId">
                <td><a [routerLink]="['/facility', facility.id, 'view' ]">{{facility.id}}</a></td>
                <td>{{facility.inOperationSince}}</td>
                <td>{{facility.power}}</td>
                <td>{{facility.numOfTransformers}}</td>
                <td>{{facility.busbars}}</td>
                <td>{{facility.numOfFields}}</td>
                <td>
                    <div *ngIf="facility.voltageLevel">
                        <a [routerLink]="['../voltage-level', facility.voltageLevel?.id, 'view' ]" >{{facility.voltageLevel?.voltageLevel}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="facility.maintaining">
                        <a [routerLink]="['../facility-maintaining-co', facility.maintaining?.id, 'view' ]" >{{facility.maintaining?.name}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/facility', facility.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/facility', facility.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'facility/'+ facility.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
